body {
  background-color: ghostwhite;
}

strong {
  background-color: beige;
}

mark {
  background-color: aqua;
}

h2 {
  color: red;
}

h1 {
  color: blue;
}

p {
  font-size: 20px;
  line-height: 25px;
}

a {
  color: brown;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.dark {
  background-color: burlywood;
}
