p {
  display: inline-block;
  background-color: aqua;
  height: 100px;
  width: 100px;
  margin: 50px;
  padding: 20px;
}

a {
  background-color: brown;
  color: white;
  margin: 50px;
  margin-top: 400px;
  height: 100px;
  width: 100px;
  padding: 20px;
}
